@font-face {
	font-family: "Arial";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
  src: local(""),
    url('../fonts/Arial-Regular.woff2') format('woff2'),
    url('../fonts/Arial-Regular.woff') format('woff');
}

@font-face {
	font-family: "Prata";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
  src: local(""),
    url('../fonts/Prata-Regular.woff2') format('woff2'),
    url('../fonts/Prata-Regular.woff') format('woff');
}

@font-face {
	font-family: "Arial";
	font-style: italic;
	font-weight: 400;
	font-display: swap;
  src: local(""),
    url('../fonts/Arial-Italic.woff2') format('woff2'),
    url('../fonts/Arial-Italic.woff') format('woff');
}

@font-face {
	font-family: "Arial";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
  src: local(""),
    url('../fonts/Arial-Bold.woff2') format('woff2'),
    url('../fonts/Arial-Bold.woff') format('woff');
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after  {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
svg {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
  flex-shrink: 0;
}

picture {
  flex-shrink: 0;
}

p, h1, h2, h3 {
	margin: 0;
}

ul, ol {
  margin: 0;
	padding-left: 0;
	list-style: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

a:focus,
button:focus {
  outline: none;
}

:root {
  --white: #fff;
  --yellow: rgb(247, 247, 14);
  --black: #222222;
}

body {
	margin: 0;
	min-width: 320px;
	font-family: "Arial", sans-serif;
	font-size: 16px;
  line-height: 156%;
  font-weight: 300;
  color: var(--white);
  background: var(--black);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.3s ease;
  pointer-events: none;
}

.container {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 1657px;
}

.flex {
  display: flex;
  align-items: center;
}

.link {
  font-family: "Prata", sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  transition: color .3s;
}

.link:hover {
  color: var(--yellow);
}

.btn {
  text-align: center;
  display: inline-block;
  border-radius: 4px;
  padding: 32px 50px;
  font-size: 24px;
  line-height: 150%;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--black);
  background: var(--white);
  transition: color .3s, background-color .3s;
}

.btn:hover {
  color: rgb(38, 25, 156);
  background: var(--yellow);
}

@media (max-width: 768px) {
  .image {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .btn {
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 400;
  }
}

/* header */

.header {
  position: fixed;
  top: 0;
  z-index: 999;
  padding: 30px 0;
  background: var(--black);
}

.header__container {
  justify-content: space-between;
  width: 783px;
}

.header__logo {
  font-family: "Prata", sans-serif;
  font-size: 36px;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
}

.header__menu {
  flex-wrap: wrap;
  gap: 29px;
}

.header__burger {
  position: relative;
  z-index: 2;
  display: none;
  flex-shrink: 0;
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
}

.header__burger span {
  position: absolute;
  top: 50%;
  right: -3px;
  border-radius: 4px;
  width: 15.5px;
  height: 2px;
  background: var(--white);
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
}

.header__burger span:nth-of-type(2) {
  top: calc(50% - 6px);
}

.header__burger span:nth-of-type(3) {
  top: calc(45% + 6px);
}

.header__burger.is-opened span:nth-of-type(1) {
  display: none;
}

.header__burger.is-opened span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);  
}

.header__burger.is-opened span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg); 
}

.header__logo:focus,
.header__link:focus,
.header__burger:focus {
  outline: none;
}

@keyframes menu-open {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes menu-close {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@media (max-width: 1024px) {
  .header {
    width: 100%;
  }

  .header__container {
    width: auto;
  }
}

@media (max-width: 576px) {
  .header__logo {
    font-size: 20px;
  }

  .header__burger {
    display: block;
  }

  .header__cube {
    position: fixed;
    z-index: 5;
    right: 0;
    top: 90px;
    display: none;
    flex-direction: column;
    padding: 24px 16px;
    width: 100%;
    background: rgb(15, 5, 43);
  }

  .header__cube.is-opened {
    display: flex;
    animation-name: menu-open;
    animation-duration: .5s;
  }

  .header__cube.is-closed {
    animation-name: menu-close;
    animation-duration: .5s;
  }

  .header__menu {
    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-content: flex-start;
    overflow-y: auto;
    margin: 0;
    width: 100%;
    height: 100%;
  }
}

/* hero */

.hero__container {
  justify-content: space-between;
  gap: 40px;
  margin-right: 0;
  padding-right: 0;
  max-width: 1780px;
}

.hero__cube {
  padding-top: 120px;
}

.hero__title {
  max-width: 500px;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 80px;
  line-height: 120%;
}

.hero__text {
  margin-bottom: 64px;
  font-size: 50px;
  line-height: 120%;
}

.hero__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 110%;
}

.hero__item {
  position: relative;
  border-radius: 4px;
  padding: 0px 20px 0px 0px;
  padding-left: 56px;
  background: rgba(40, 40, 41, 0.7);
}

.hero__item p:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 20px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-image: url("../img/vector.svg");
  background-repeat: no-repeat;
  transform: translateY(-50%);
}

.hero__item span {
  font-size: 40px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

@media (max-width: 1340px) {
  .hero__container {
    margin: 0 auto;
    padding-right: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .hero__title {
    margin-bottom: 30px;
    font-size: 30px;
  }
  
  .hero__text {
    margin-bottom: 40px;
    font-size: 20px;
  }

  .hero__list {
    font-size: 18px;
  }

  .hero__item span {
    font-size: 25px;
  }
}

/* about */

.about {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #282829;
}

.about__container {
  gap: 53px;
  justify-content: center;
  padding: 0;
  max-width: 1920px;
}

.about__cube {
  flex-direction: column;
  justify-content: center;
}

.about__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-bottom: 80px;
}

.about__item {
  max-width: 614px;
  font-size: 24px;
  line-height: 140%;
}

.about__item:not(:last-child) {
  border-bottom: 1px solid #55565a;
  padding-bottom: 40px;
}

.about__item p {
  position: relative;
  margin-left: 78px;
}

.about__item p:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: -50px;
  width: 40px;
  height: 40px;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
}

.about__btn {
  width: calc(100% - 100px);
}

@media (max-width: 1800px) {
  .about__container {
    flex-wrap: wrap;
  }

  .about__btn {
    width: auto;
  }
}

@media (max-width: 1024px) {
  .about__item {
    width: calc(100% - 78px);
  }
}

@media (max-width: 576px) {
  .about {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .about__container {
    gap: 20px;
  }

  .about__list {
    margin-bottom: 40px;
  }

  .about__item {
    font-size: 20px;
    line-height: 140%;
  }

  .about__item p {
    margin-left: 40px;
  }
}

/* contact */

.contacts {
  padding-bottom: 100px;
  background: #282829;
}

.contacts__cube {
  justify-content: space-between;
  border: 2px solid #d5c9be;
  border-radius: 30px;
  padding-left: 134px;
  background: var(--white);
}

.contacts__item {
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 0;
}

.contacts__title {
  margin-bottom: 45px;
  max-width: 300px;
  font-family: "Prata", sans-serif;
  font-size: 54px;
  line-height: 110%;
  font-weight: normal;
  color: #38535d;
}

.contacts__form {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.contacts__label {
  width: 100%;
}

.contacts__input {
  border: 2px solid #d6d6d6;
  border-radius: 4px;
  padding: 13px 20px 13px 38px;
  width: 100%;
  font-size: 24px;
  line-height: 150%;
  color: #55565a;
  opacity: 0.7;
}

.contacts__input::placeholder {
  font-size: 24px;
  line-height: 150%;
  color: #55565a;
  opacity: 0.7;
}

.contacts__input-name {
  margin-bottom: 13px;
}

.contacts__input-email {
  margin-bottom: 26px;
}

.contacts__input-email .contacts__input {
  border-color: #d5c9be;
}

.contacts__input:focus {
  outline: none;
}

.contacts__checkbox {
  margin-bottom: 26px;
  cursor: pointer;
}

.contacts__checkbox > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.contacts__checkbox > span {
  display: inline-flex;
  align-items: center;
  font-size: 19px;
  line-height: 130%;
  color: #55565a;
  user-select: none;
}

.contacts__checkbox > span::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 23.26px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid #405d65;
  border-radius: 4px;
  margin-right: 16px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.contacts__checkbox > input:checked + span::before {
  border-color: aqua;
  background-color: rgb(71, 248, 71);
  background-image: url("../img/check.svg");
}

.contacts__btn {
  padding: 32px 0;
  font-weight: 400;
  color: var(--white);
  background: #282829;
}

.contacts__image {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

@media (max-width: 1340px) {
  .contacts__cube {
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
  }

  .contacts__title {
    margin-left: 20px;
  }
}

@media (max-width: 768px) {
  .contacts__form {
    width: calc(100% - 40px);
  }
}

@media (max-width: 576px) {
  .contacts__title {
    margin-bottom: 45px;
    font-size: 25px;
  }

  .contacts__input,
  .contacts__input::placeholder {
    font-size: 15px;
  }

  .contacts__input {
    padding: 13px;
    width: calc(100% - 26px);
  }

  .contacts__checkbox > span {
    font-size: 15px;
  }

  .contacts__image {
    border-radius: 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
}

/* footer */

.footer {
  padding-bottom: 60px;
}

.footer__subdiv {
  border-top: 1px solid #d5c9be;
  border-bottom: 1px solid #d5c9be;
  padding: 40px 0;
}

.footer__menu,
.footer__list,
.footer__cube,
.footer__subcube {
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
}

.footer__link {
  font-size: 20px;
}

.footer__div {
  margin-top: 43px;
}

.footer__subcube {
  margin-bottom: 38px;
}

.footer__between {
  justify-content: space-between;
}

.footer__btn {
  font-style: italic;
  font-size: 20px;
}

.footer__list {
  gap: 32px;
}

.footer__subcube {
  gap: 20px;
}

.footer__cube {
  gap: 40px;
}

.footer__copyright,
.footer__sublink {
  font-size: 20px;
  line-height: 150%;
  color: #d5c9be;
  transition: color .3s;
}

.footer__sublink:hover {
  color: var(--yellow)
}

.footer__copyright {
  color: var(--white);
}

@media (max-width: 576px) {
  .footer__subcube,
  .footer__cube {
    justify-content: center;
  }
}